SUPABASE_URL = "https://axhswzeeiadbkkopokjl.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF4aHN3emVlaWFkYmtrb3Bva2psIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5NTQ5MTMsImV4cCI6MjEwNDUzMDkxM30.b-lVzDdOGF6yWxi9PvXSJTA4rmcXHxEFW7IDzHjuUrw"
